#main{
    width: 520px;
    height: 800px;
    border: 1px solid white;
    margin: auto;
    background-color: rgb(187, 229, 187);
}
#parent{
    width: 450px;
    height: 740px;
    border: 0px solid black;
    margin-top: 27px;
    margin-left: 35px;
    border-radius: 25px;
    background-color: white;
    display: flex;
}
.child1{
    width: 290px;
    height: 200px;
    border: 0px solid black;
    margin-top: 450px;
    margin-left: 20px;
}
.child2{
    width: 200px;
    height: 740px;
    border: 0px solid black;
    margin-left: 30px;
    border-radius: 25px;
}
img{
    border-radius: 25px;
}